{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}
<div class="container mt-5">
        <h2 class="color_white">Tournois Crewgnion :</h2>
            <div class="border-top border-primary mt-2 mx-auto"></div>
            
            <div class="alert alert-danger mt-5">Les tournois seront bientôt disponible</div>
      
        {% endblock %}
        {% block javascripts %}
        {% endblock %}