<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}<h1>contact</h1>{% endblock %}
        {% block javascripts %}{% endblock %}
        <h1>je m'appelle hihi</h1> {{nomprenom.prenom }} {{nomprenom.nom}}
    </body>
</html>
{# empty Twig template #}
