<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
         <link rel="stylesheet" href="{{asset('build/css/app.css')}}">    </head>
    <body>
        {% block body %}<h1>test</h1>{% endblock %}
        {% block javascripts %}{% endblock %}
        {{variable.v1}}
        <br>
        {{variable.v2}}
        <button type="button" class="btn btn-primary">Primary</button>
    </body>
</html>
{# empty Twig template #}
