/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
@import "~bootstrap/scss/bootstrap";
body{
    background: rgb(48, 48, 48);
}

.color_white{
    color: white;
}
.color_grey{
    color:  rgb(48, 48, 48);
}

#map {
    height: 550px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.btn-circle {
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.375rem 0;
    font-size: 0.75rem;
    line-height: 1.428571429;
    border-radius: 0.938rem;
}
.btn-circle.btn-lg {
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
    line-height: 1.33;
    border-radius: 1.563rem;
}

