{% extends 'base.html.twig' %}

{% block body %}

<div class="container mx-auto">
    <div class="row">        
        <span class="col-xs-12 col-sm6 col-md-6 mt-5 mx-auto bg-dark border border-primary rounded">
                <p class="color_white ml-5 mt-1 mb-4 ">
                <h4>Profil :</h4>
                <i class="ml-5">Nom d'utilisateur : {{ r1.username }}</i>   
                <br/>        
                <i class="fas fa-envelope"></i> Email : {{ r1.email }}
                <br/>
                <i class=""></i>Grade : {{ r1.getGrade().getNomGrade() }} <img src="{{ asset('images/grade/'~r1.getGrade().getPhoto()) }}">
                <br/>
                <i class=""></i>June 02, 1988</p>
                <button type="button" class="btn btn-warning mb-4 mx-auto"><i class="fas fa-edit"></i> Modifier</button>
            </span>
        </div>
        
    </div>
    {% endblock %}