{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}                                            

{% block body %}
<div class="alert alert-danger mt-5" role="alert">
    Veuillez activer votre géolocalisation pour continuer.
</div>
{% endblock %}