{% extends 'base.html.twig' %}

{% block title %}Maps{% endblock %}                                            

{% block body %}
<div class="row">
  <div id="map" class="mt-5"></div>
  <div class="container col-xs-5 col-sm-3 col-md-2">Légende :

  </div>
</div> 
<div class="container mt-3">
  <div class="row color_white">
    <span class="col-xs-11 col-sm-6 col-md-5 mb-2 mx-auto bg-dark border border-primary rounded color_white">
      <h2 class="mx-auto text-center">Distance : test km</h2>
    </span>
    <span class="col-xs-11 col-sm-6 col-md-5 mb-2 mx-auto bg-dark border border-primary rounded color_white">
      <h2 class="mx-auto text-center">Récompense : {{ position.getXp() }} Xp</h2>
    </span>
  </div>
</div>
<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {          
      zoom: 8,
    });
    infoWindow = new google.maps.InfoWindow;
    
    var point = {
      path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
      fillColor: '#007bff',
      fillOpacity: 1,
      scale: 1,
      strokeColor: '',
      strokeWeight: 0
    };
    
    marker = new google.maps.Marker({
      map: map,
      icon : point,
      animation: google.maps.Animation.DROP,
      position: {lat: {{ position.getLatitude }}, lng: {{ position.getLongitude }}}
    });        
    
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var infowindow = new google.maps.InfoWindow({
          content: '<div class="container">'+
            'Vous êtes ici !'+
            '</div>'
          });
          var marker = new google.maps.Marker({
            position: pos,
            map: map,
            icon: {
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#dc3545',
              fillOpacity: 1,
              scale: 1,
              strokeColor: '',
              strokeWeight: 0
            },
            animation: google.maps.Animation.DROP
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
          
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }
    
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
    
    function toggleBounce() {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqu93anG2RuN7R9imKXX9f7OwDsNewh0&callback=initMap">
</script>                                          

{% endblock %}
