<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Crewgnion{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% theme_boot form 'bootstrap_4_layout.html.twig' %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
