<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Crewgnion{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/Crewgnion_logo.png') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="theme.css" type="text/css"> 
        {% endblock %}
    </head>
    <body>
            
                <div class="container">
            {% block body %}{% endblock %}
                </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
