{% extends 'baseB.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
      
        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="display-1  rounded border border-primary text-center text-light">CrewGnion</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 offset-md-5">
                <a class="btn btn-primary" href="/connexion">Connexion</a>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-5">
                <a class="btn btn-success" href="/inscription">Inscription</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
