
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('build/css/app.css')}}">   
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {% block body %}
            <br>
            <br>
            <div class="py-5 text-left bg-light">
                <div class="container">
                    <h1>Starfoullah</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}            
                    <button type="submit" class="btn btn-primary ">ok</button>
                    {{ form_end(form) }}
                    {% endblock %}
                    {% block javascripts %}{% endblock %}
                </div>
            </div>
         </div>
    </body>
</html>

